/* body{
    
    background-image: url('https://i.pinimg.com/originals/6d/e9/1c/6de91c11a6c674a79cf315fe1929c135.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
     display: flex;
     justify-content: space-between;
     background: rgb(50, 210, 55);
 
 } */